/*colors*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  height: 100%;
}

.score-board {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}
.score-board__header {
  font-size: 3rem;
  font-weight: 900;
}
.score-board__content {
  display: flex;
  column-gap: 12px;
  width: 100%;
  justify-content: space-between;
}

.player {
  transition: 0.3s;
  border-radius: 5px;
  padding: 8px;
}
.player__header {
  text-align: center;
  font-size: 2rem;
}
.player__name {
  text-align: end;
}
.player__score {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}
.player__symbol {
  font-weight: 800;
  font-family: "Shantell Sans", cursive;
  color: #000;
}

.game-board {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.game-board__cell-container {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: #000;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.game-board-btn {
  font-size: 10rem;
  background-color: #fff;
  border: none;
  color: #000;
  font-family: "Shantell Sans", cursive;
}
.game-board-btn--black-font {
  color: #000;
}

.player-form {
  border: 1px solid #000;
  padding: 16px;
  border-radius: 5px;
}
.player-form__label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.player-form__input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.player-form__btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.player-form__btn--close {
  background: #000;
}
.player-form__btn--submit {
  background-color: #ff6282;
}
.player-form__group {
  margin-bottom: 15px;
}
.player-form__btns {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

body {
  background: #fff;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.reset-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background: #ff6282;
}
