/*colors*/
$colo-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-crimson: #dc143c;
$color-dark_blue: DarkBlue;
$color-sunny_yellow: #fff917;
$color-carrot_orange: #ed9121;
$color-dune: #333;
$color-brink_pink: #ff6282;
$color-chery_blossom: #fcb7c5;
$color-soft_peach: #f4edef;
