.score-board {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-black;
  align-items: center;

  &__header {
    font-size: 3rem;
    font-weight: 900;
  }

  &__content {
    display: flex;
    column-gap: 12px;
  }
}
